body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(10, 128, 133);
    text-align: left;
}

header {
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 65px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 94%;
    background: rgb(10, 128, 133); /* Match the body background color */
}

menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 70px; /* Space below the fixed nav */
}

hr::after {
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.news {
    background: rgb(87, 195, 45);
    padding: 1em;
    border: solid thin white;
}

main {
    flex: 1; /* Take remaining space to push the footer down */
    margin-top: 70px; /* Offset for the fixed navigation */
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: auto; /* Stick to the bottom */
    background-color: #004f54;
    color: white;
}
